In [ ]:
# Create a function that can accept two arguments name and age and print its value
def Details(name:str,age:int):
  print(name, age)

Details("aditya",24)

aditya 24

In [ ]:
#Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of them. And also it must return both addition and subtraction in a single return call

def calculation(n1:int, n2:int):
  print(n1+n2, n1-n2)

n1 = int(input("Enter the number "))
n2 = int(input("Enter the number "))

calculation(n1,n2)

Enter the number 23
Enter the number 21
44 2

In [ ]:
#Create a function showEmployee() in such a way that it should accept employee name, and its salary and display both. If the salary is missing in the function call assign default value 9000 to salary


def showEmployee(name:str,salary = 9000):
  print(name, salary)

showEmployee("Aditya",)

Aditya 9000

In [ ]:
'''Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it'''

def func1(x,y):
  def sum1(x,y):
    return x+y
  result = sum1(x,y) + 5
  return result

func1(4,5)

14

In [ ]:
#Assign a different name to function and call it through the new name

def showEmployee(name:str,salary = 9000):
  print(name, salary)

funct1 = showEmployee

funct1("Aditya",)

Aditya 9000

In [ ]:
# Write a recursive function to calculate the sum of numbers from 0 to 10

def addition(n):
  if n<= 1:
    return n
  return n + addition(n-1)


print(addition(2))

3