In [ ]:
# print the type of x,y,z

x = 1  
y = 2.8  
z = 1j

print(type(x))
print(type(y) )
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Convert flot into int 

X=1.4
x=int(1.4) 
print(x)

1

In [ ]:
#Convert from one type to another:

x = 5   # int
y = 3.8  # float
z = 5j   # complex

#convert from int to float:
x= float(5)
print(x)


#convert from float to int:
y= int(3.8)
print(y)


#convert from int to complex:
z= complex(5j)
print(z)

5.0
3
5j

In [ ]:
# Print 15 random numbers

import random 

print(random.randrange(1, 15) )

13

In [ ]:
# Convert int ,float to string 

x = str("t5") 
print(x)
y = str(4)
print(y)    
z = str(6.0)
print(z)
print(type(x))
print(type(y))
print(type(z))

t5
4
6.0
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# Assign a string to variable 

a="I love Machine Learning"
print(a)

I love Machine Learning

In [ ]:
# Concatenate two string 
a="Hello raj?"
b="Hi Manish."
c="How are you."
d="I am fine."

print(a+b+c+d)

Hello raj?Hi Manish.How are you.I am fine.

In [ ]:
# Print the output='lo, Wor'
a = "Hello, World!"
a[-10:-3]

'lo, Wor'

In [ ]:
# Check the required string/word is in the sentence of not

sentence="Hello Indian , I like you culture."
word = "like"
if word in sentence:
  print('Yes word found!')

Yes word found!

In [ ]:
# Print the output='I Love'
Sentence="I Love India!"
(Sentence[:6])

'I Love'

In [ ]:
#print the output: 
#I want to pay 49.95 dollars for 3 pieces of item 567

quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {} dollars for {} pieces of item {}."
print(myorder.format(price, quantity, itemno))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
# remove the error
Sent = "We will vist America after two days."
print(Sent)

We will vist America after two days.

In [ ]:
# Print the sentence after comma in next line 
Sent=" Hii Mona ,\n When will we go for holidays ?  "
print(Sent)

 Hii Mona ,
 When will we go for holidays ?

In [ ]:
# Remove the duplicate from the list 
List=["Ram",'Sam','Nick','Sam']
List = list(dict.fromkeys(List))
print(List)

['Ram', 'Sam', 'Nick']

In [ ]:
# Print last for element of list by negative Indexing 

Fruit_list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(Fruit_list[-1:])

['mango']

In [ ]:
# Replace the first Sam from Micky
List=["Ram",'Sam','Nick','Sam']
List[1]= "Micky"
print(List)

['Ram', 'Micky', 'Nick', 'Sam']

In [ ]:
# Insert the Micky at 3rd index
List=["Ram",'Sam','Nick','Sam']
List.insert(3,"Micky")
print(List)

['Ram', 'Sam', 'Nick', 'Micky', 'Sam']

In [ ]:
# Insert Kiwi in a tuple

x = ("apple", "banana", "cherry")
y = list(x)
y.insert(3, "kiwi")
x = tuple(y)

print(x)
print(type(x))

('apple', 'banana', 'cherry', 'kiwi')
<class 'tuple'>

In [ ]:
# Add item in set

Fruits = {"apple", "banana", "cherry"}

Fruits.add("cranberry")

print(Fruits)

{'apple', 'cherry', 'banana', 'cranberry'}

In [ ]:
# Add two set
Fruit1 = {"apple", "banana", "cherry"}
Fruit2 = {"pineapple", "mango", "papaya"}
Fruit1 |= Fruit2
print(Fruit1)

{'apple', 'mango', 'cherry', 'banana', 'pineapple', 'papaya'}

In [ ]:
# Remove the any item from the set
Set={"Krishh","Prince","KUmar"}
Set.remove('Prince')
print(Set)

{'KUmar', 'Krishh'}

In [ ]:
#Add a new item to the original dictionary, and see that the keys list gets updated as well:
Bike = {
"brand": "Bajaj",
"model": "TVS",
"year": 2013
}

x = Bike.keys()

print(x) #before the change

Bike["Engine_type"] = "160cc"
x = Bike.keys()

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'Engine_type'])

In [ ]:
#Update the item from the Dict
Car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
Car.update({"year": 2020})
print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
#remove a item from set
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("brand")
print(car)

{'model': 'Mustang', 'year': 1964}